* {
    margin: 0;
    padding: 0;
}
.timeText {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.season {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.night {
    background-image: url(./img/night.jpg);
    background-size: cover;
}
.morning {
    background-image: url(./img/morning.jpg);
    background-size: cover;
}
.afternoon {
    background-image: url(./img/afternoon.jpg);
    background-size: cover;
}
.evening {
    background-image: url(./img/evening.jpg);
    background-size: cover;
}